<form data-request="onSend" data-request-validate method="POST" class="mx-auto my-16 max-w-2xl sm:mt-20">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        {% if errors.has('recaptcha') %}
        <div class="col-span-2">
            <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-red-800">{{ errors.first('recaptcha') }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if errors.has('formErrors') %}
        <div class="col-span-2">
            <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-red-800">{{ errors.first('formErrors') }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if errors.has('success') %}
        <div class="col-span-2">
            <div class="rounded-md bg-green-50 p-4">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg class="h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="ml-3">
                        <h3 class="text-sm font-medium text-green-800">{{ errors.first('success') }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if errors.has('success') %}

        {% else %}
        <div class="sm:col-span-1">
            <label for="firstname" class="block text-sm font-semibold leading-6 {{ errors.first('firstname') ? 'text-red-600' : 'text-gray-900' }}">Voornaam<span class="text-main">*</span></label>
            <div class="mt-2.5">
                <input type="text" name="firstname" id="firstname" value="{{ form_value('firstname') }}" autocomplete="given-name" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('firstname') ? 'ring-red-600' : 'ring-gray-300' }} ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('firstname') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('firstname') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-1">
            <label for="lastname" class="block text-sm font-semibold leading-6 {{ errors.first('lastname') ? 'text-red-600' : 'text-gray-900' }}">Achternaam<span class="text-main">*</span></label>
            <div class="mt-2.5">
                <input type="text" name="lastname" id="lastname" autocomplete="family-name" value="{{ form_value('lastname') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('lastname') ? 'ring-red-600' : 'ring-gray-300' }} ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('lastname') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('lastname') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="email" class="block text-sm font-semibold leading-6 {{ errors.first('email') ? 'text-red-600' : 'text-gray-900' }}">E-mail<span class="text-main">*</span></label>
            <div class="mt-2.5">
                <input type="email" name="email" id="email" autocomplete="email" value="{{ form_value('email') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('email') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('email') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('email') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="phone" class="block text-sm font-semibold leading-6 {{ errors.first('phone') ? 'text-red-600' : 'text-gray-900' }}">Telefoon<span class="text-main">*</span></label>
            <div class="mt-2.5">
                <input type="tel" name="phone" id="phone" autocomplete="phone" value="{{ form_value('phone') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('phone') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('phone') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('phone') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="street" class="block text-sm font-semibold leading-6 {{ errors.first('street') ? 'text-red-600' : 'text-gray-900' }}">Adres</label>
            <div class="mt-2.5">
                <input type="text" name="street" id="street" autocomplete="street-address" value="{{ form_value('street') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('street') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('street') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('street') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-1">
            <label for="zip" class="block text-sm font-semibold leading-6 {{ errors.first('zip') ? 'text-red-600' : 'text-gray-900' }}">Postcode</label>
            <div class="mt-2.5">
                <input type="text" name="zip" id="zip" autocomplete="postal-code" value="{{ form_value('zip') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('zip') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('zip') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('zip') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-1">
            <label for="city" class="block text-sm font-semibold leading-6 {{ errors.first('city') ? 'text-red-600' : 'text-gray-900' }}">Plaats</label>
            <div class="mt-2.5">
                <input type="text" name="city" id="city" autocomplete="address-level2" value="{{ form_value('city') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('city') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('city') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('city') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="company" class="block text-sm font-semibold leading-6 {{ errors.first('company') ? 'text-red-600' : 'text-gray-900' }}">Bedrijf</label>
            <div class="mt-2.5">
                <input type="text" name="company" id="company" autocomplete="organization" value="{{ form_value('company') }}" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('company') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">
                {% if errors.first('company') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('company') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="sm:col-span-2">
            <label for="content" class="block text-sm font-semibold leading-6 {{ errors.first('content') ? 'text-red-600' : 'text-gray-900' }}">Bericht<span class="text-main">*</span></label>
            <div class="mt-2.5">
                <textarea name="content" id="content" rows="4" class="bg-white block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset {{ errors.first('content') ? 'ring-red-600' : 'ring-gray-300' }} placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-main sm:text-sm sm:leading-6">{{ form_value('content') }}</textarea>
                {% if errors.first('content') %}
                <span class="text-red-600 text-xs">
                    {{ errors.first('content') }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="flex gap-x-4 sm:col-span-2">
            <p class="text-sm leading-6 text-gray-500">
                Door dit formulier te gebruiken, gaat u akkoord met ons <a href="/privacybeleid" class="text-main hover:text-main2">privacybeleid</a>.
            </p>
        </div>
        <div class="sm:col-span-2">
            <div class="g-recaptcha" data-sitekey="6LelZRApAAAAADuf59m2-qET1fOtdymI9LEwdgTX"></div>
            {% if errors.first('g-recaptcha-response') %}
            <span class="text-red-600 text-xs">
                {{ errors.first('g-recaptcha-response') }}
            </span>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if errors.has('success') %}

    {% else %}
    <div class="mt-10">
        <button type="submit" class="block w-full rounded-full bg-main px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-main2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Versturen
        </button>
    </div>
    {% endif %}
</form>
